<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/1c3eab352a.js" crossorigin="anonymous"></script>

    <title>Manentia Advisory</title>
</head>
<body>
    <header>
        <h2>Manentia Advisory</h2>
    
       <nav>
           <li><a class="nav_items" href="">About</a></li>
           <li><a class="nav_items" href="">Product</a></li>
           <li><a class="nav_items" href="">Services</a></li>
           <li><a class="nav_items" href="">Testimonials</a></li>
        </nav>
    </header>
    <section class="bg">
        <div class="bg-image" style="background-image: url(3.jpg);"></div>
        <div class="bg-content">
            <h1>Manentia Advisory</h1>
            <h2>Finding newer, intelligent ways to care for the world.</h2>
            <a href="" class="contact-btn">Contact Us</a>
        </div>
    </section>
    <section class="products">
        <h3 class="title">Our Products</h3>
        <p>We are an emerging start-up that Offers a superior online healthcare diagnosis system with the passion to develop attainable solutions to global health issues. We provide a seamless online system that is well-designed and ready-to-use for our clients like hospitals, clinics, research centers & medical professionals.</p>
        <hr>
        <div class="feature">
            <div class="feature-products" data-aos="fade-left"  data-aos-duration="1000"  data-aos-easing="ease-in-out" >
                <h2 style="margin-bottom: 15px;">Ratino Scan</h2>
                <img src="ratinoscan.png" alt="" style="background-color:tomato;">
                <p>RatinoScan is platform which can detects the symptoms of Diabetes Retinopathy using fundus image and shows area effected by Microaneurysms, Hemorrhages & exudates.</p>
                <button class="feature-btn">Contact Us</button>
                <button class="feature-btn">Know More</button>
            </div>
            <div class="feature-products" data-aos="fade-right"  data-aos-duration="1000"  data-aos-easing="ease-in-out">
                <h2 style="margin-bottom: 15px;">RayScan</h2>
                <img src="RayScan.png" alt="" style="background-color: black; ">
                <p>It's an user-friendly and readily available Web-based diagnosing system that aims at detecting respiratory and lung diseases with significant symptoms using X-ray & CT-scan images and provides quick diagnosis reports, And also marks the infected areas within the images for easy examination.</p>
                <button class="feature-btn">Contact Us</button>
                <button class="feature-btn">Know More</button>
            </div>
        </div>
            

        
    </section>
    <section class="services">
        <h3 class="title">Services</h3>
        <p>We are an emerging start-up that Offers a superior online healthcare diagnosis system with the passion to develop attainable solutions to global health issues. We provide a seamless online system that is well-designed and ready-to-use for our clients like hospitals, clinics, research centers & medical professionals.</p><hr>
        <div class="services-container">
            <div class="service">
                <i class="fas fa-newspaper fa-4x"></i>
                <h4>Hands-On Report Generation</h2>
                <p>AI Diagnosis: RayScan uses Artificial Intelligence and the latest technologies to provide patients rapid diagnosis reports with high accuracy.</h4>
                
            </div>
            <div class="service">
                <i class="fas fa-address-card fa-4x"></i>
                <h4>Expeditious Results</h4>
                <p>Our app is embedded with modern-day technology to provide its users with accurate results in a fraction of seconds.</p>
            </div>
            <div class="service">
                <i class="fas fa-cloud-upload-alt fa-4x"></i>
                <h4>Cloud Based Storage</h4>
                <p>We also provide cloud storage to our users where they can store all their previous reports and refer to them in the future anytime and anywhere they want.</p>
            </div>
            <div class="service">
                <i class="fas fa-laptop-medical fa-4x"></i>
                <h4>Detailed Screening</h4>
                <p>Our screening technology has the ability to detect more than 13 lungs-diseases like Covid-19, pneumonia, etc.</p>
            </div>
            <div class="service">
                <i class="fas fa-chart-area fa-4x"></i>
                <h4>Easy to Analyze</h4>
                <p>Our system not just provides the diagnosis reports but also detects and marks the infected areas within the reports for easy understanding of users.</p>
            </div>
        </div>
    </section>

    <section class="testimonials">
       <h3 class="title">What Our Customers have to say.</h3>
       <div class="grid">
           <div class="testi " data-aos="fade-left"  data-aos-duration="1000"  data-aos-easing="ease-in-out">
            <i class="fas fa-user-md fa-8x"></i>
            <p>AI diagnosis Its not only about the fast result but its also a innovation in medical health diagnosis. This system will work as a new discoverment in medical field.</p>
           </div>
           <div class="testi" data-aos="fade-left"  data-aos-duration="1000"  data-aos-easing="ease-in-out">
            <i class="fas fa-user-md fa-8x"></i>
            <p>AI diagnosis provides a brand innovative solutions using AI , which is required in the medical field as it saves some time which can be used treating other patients</p>

           </div>
           <div class="testi" data-aos="fade-left"  data-aos-duration="1000"  data-aos-easing="ease-in-out">
            <i class="fas fa-user-md fa-8x"></i>
            <p>AI diagnosis provides a handy solution as their report provides particular markings of the infected area That help to doctor to focus on infacted areas.</p>

           </div>
           <div class="testi" data-aos="fade-left"  data-aos-duration="1000"  data-aos-easing="ease-in-out">
            <i class="fas fa-user-md fa-8x"></i>
            <p>Manentia Advisory is providing a AI bead diagnosis web based system name is AI diagnosis. It will help doctor to easily examination of Xary report within few seconds</p>

           </div>
       </div>
    </section>
    <section class="contact">
        <h3 class="title">Reach Out</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fugit dolor pariatur est quaerat labore sit voluptate minus error iure?</p><hr>
        <div class="user-form">
            <img src="contact.svg" alt="">
            <form action="" name="user-form">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Name*" required><br>
                <label for="email">E-mail</label>
                <input type="text" name="email" placeholder="Email*" required><br>
                
            
                <label for="message">Message</label>
                <textarea name="message" form="user-form" rows="10" cols="100" placeholder="Type your message here" required></textarea>
                <button>Send</button>
            </form>
        </div>
        
    </section>
    <footer>
        <p>Designed by Umang Pachaury</p>
        <p><i class="far fa-copyright"></i> All rights reserved</p>
        <ul>
            <li><a href=""><i class="fab fa-facebook-square fa-2x"></i></a></li>
            <li><a href=""><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ul>
    </footer>
    


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 300,
        
      });
    </script>
</body>
</html>