*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 35px 100px 0;
    z-index: 12;
    /* Default / White */
    
    background: #FFFFFF;
    /* Navbar Shadow */
    opacity: 0;
    box-shadow: 0px 1px 0px #E5E9F2;
    transition: 0.35s ease-in;
    animation: load 1s ease-in  forwards;
}
header nav{
    margin-right: -35px;
}
@keyframes load{
    100%{
        opacity:1;
    }
}

@media (max-width:800px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    header nav{
        margin-right: -15px;
    }
    

}

/*
.nav-active {
    background-color:rgb(26, 25, 25);
    color: #fff;
    
    box-shadow: 5px -1px 12px -5px grey;
}
div.nav-active-link{
    color: white;
}*/
header img{
    height: 60px;
}
div.nav_items{
    display: flex;
    
    justify-content: space-between;
}
div.nav_items a{
    text-decoration: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    font-feature-settings: 'liga' off;

    /* Text / Gray 900 */

    color: #18191F;
}
li{
    list-style: none;
    margin-left: 5px; 
    margin-right: 5px;
}
section{
    padding: 100px 80px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
section.home{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-repeat: no-repeat;
    width: 100%;
    min-height:100vh;
    
    background-size: cover;
    
    
    overflow-x: hidden;
    align-items: center;
}
@keyframes content-load {
    100%{
        opacity: 1;
        margin-top: 50px;
    }
}
@media screen and (max-width:800px) {
    
    section.home h1{
        order: 1;
        align-self: center;
    }
    div.image_container{
        order: 2;
    }
}

@media (max-width:400px) {
    section{
        overflow-x: auto;
    }
}
section.home h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 20px;
    line-height: 2em;
    animation: content-load 1s ease-in  forwards;
    margin-top: -100px;
    opacity: 0;
}
section.home h1 span{
    color: cornflowerblue;
}
div.introductory_image{
    background-image: url(https://images.unsplash.com/photo-1530497610245-94d3c16cda28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    height: 400px;
    width: 400px;
    border-radius: 14px;
    background-size: cover;
    background-position:center ;
    margin-right: 30px;
    
    position: relative;
    top: 17px;
    left: 24px;
    opacity: 0;
    animation: load 1s ease-in  forwards;
    
    
}
div.image_container{
    background:linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #185480 ;
    width: 388px;
    height: 392px;
    border-radius: 14px;
    opacity: 0;
    animation: load 1s ease-in  forwards;
}

section.About{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-image: url(about.png);
    background-size:cover;
    
    
    
}


section.About img{
    width: 432px;
    height: 536px;
    flex-basis: 40%;
    border-radius: 25px;
}
div.about-content {
   
    line-height: 2;
    text-align:center;

}
div.about-content p{
    max-width: 700px;
    font-size: 25px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: center;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

div.about-content h1{
    font-size: 40px;
}

div.about-content h2{
    font-size: 35px;
}

section.ai{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #496D76;
    margin: 10px;

}
div.acc-by{
    font-size: large;
}
div.acc-by img{
    width: 350px;
    height: 350px;
}

div.acc-content{
    max-width: 700px;
    font-size: 30px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: center;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

section.product-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    background-image: url(product.png);
    z-index: -1;
    background-size: cover;
}
div.product{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #0B0D17;
    height: 555px;
    max-width: 613px;
    margin: 10px;
    background-color: #FFFFFF;
}
h1.title{
    flex-basis: 100%;
    
    align-self: center;
    text-align: center;
    margin-bottom: 45px;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 64px;
}
div.product h1{
    margin-bottom: 15px;
}
div.product-image{
    background-color:#C4DAFF ;
    padding: 5px;
    
}
div.product-des{
    padding: 20px;
    margin-top: -15px;
    
}
div.product button{
    width: 169px;
    height: 46px;
    background-color: inherit;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    align-self: center;
    margin-bottom: 15px;
    font-weight: bold;
}

div.product img{
    max-width: 200px;
    max-height:200px;
    margin-bottom: 20px;
    
    
    
}
section.contact{
    flex-direction: row;
}


div.image-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
div.image-gallery img{
    margin: 10px;
    flex-basis: 40%;
}
div.user-form{
    flex-direction: column;
    justify-content: stretch;
}
div.user-form h1{
   text-align: center;
   align-self: center;
   font-weight: 600;
    font-size: 40px;
    line-height: 32px;
    letter-spacing: 0.2em;
    margin-bottom: 1rem;
}




form{
    text-align: center;
    margin: auto;
    margin: 10px;
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
form input,textarea{
    padding: 10px;
    margin: 10px;
    background-color: rgba(173, 201, 255, 0.274);
    
    flex-basis: 50%;
    width: 100%;
}
form label{
    align-self: flex-start ;
}
form button{
    margin: 10px;
    padding: 15px;
    background-color: #515A86;
    color:white;
    font-weight: bold;
    width: 200px;
    font-size: 32px;
    border-radius: 8px;
}
div.user-form{
    display: flex;
    flex-wrap: wrap;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #535C87;
    color: white;
    padding: 20px 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    
}
footer ul li{
    margin-left: 16px;
    
}
footer ul li a{
    color: white;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity:0.7;
    align-self: center;


}

@media (max-width:800px) {
    section{
        flex-direction: column;
        flex-wrap: wrap;
    }
}